﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @ViewBag.rap.AccountName
    @ViewBag.rap.Active
    @ViewBag.rap.AllowToHire
    @ViewBag.rap.Role
    @ViewBag.rap.USR_Lang

</div>
